
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 255, 255);
    color: #030303;
    font-size: 16px;
    padding-top: 70px;
}
h1 {
    text-align: center;
    margin-top: 25px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    border-bottom: solid 2px  rgb(7, 7, 7);
}
h2 {
    margin: 15px 0px;
    font-weight: 600;
}
.h2 {
    padding: 30px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.title {
    font-size: 22px;
    font-weight: 600;
    color: var(--colorbtn);

}
:root {
    --colorbtn: rgb(33, 7, 58);
    --colorbtnset: rgb(60, 11, 109);
    --pricecolor: rgb(76, 0, 253);
}
.topbar {
    background-color: var(--colorbtn);
    color:aliceblue;
    width: 100%;
    height: 70px;
    box-shadow: 0px 6px 5px  black;
    position: fixed;
    top: 0; 
    padding: 10px 0;
}
.topbar > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
#buttoncart {
    position: relative;
    height: 45px;
    background: none;
    font-size: 25px;
    color: whitesmoke;
    cursor: pointer;
}
.buttonunits {
    border: 1px solid white;
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    bottom: 2px;
    left: 15px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    background-color: rgba( 73, 19, 19) ;
}
.buttonunitsshow {
    display: flex;
}
.img1 {
    padding-top: 5px;
    width: 100%;
    height: 150px;
    /* border-radius: 0px 0px 100px 100px; */
    box-shadow: 0px 20px 15px  var(--colorbtn);
}
.gridproducts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px ;
    margin-bottom: 12px;
    grid-auto-rows: 2fr;  
}

.banner {
    border-radius: 5px;
    box-shadow: 15px 15px 30px var(--colorbtn);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: solid 2px;  
    background-color: white;
}
.banner img {
    width: 100%;
    height: auto;
    display: block;
}
.btnaddcart {
    width: 100%;
    height: 40px;
    border: solid 1px;
    cursor: pointer;
    border-top: solid 2px;
    background-color: var(--colorbtnset);
    color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgb(152, 116, 170);
    transition: all 0.3s linear;
    margin-top: auto;
    
}
.finishsale {
    width: 100%;
    height: 40px;
    border: solid 1px;
    cursor: pointer;
    background-color: var(--colorbtn);
    color: #fff;
    margin: 0 auto;
    border-radius: 100px;
    transition: all 0.3s linear;
    text-decoration: none;
}
.btnaddcart:hover{
    background-color: rgb(16, 0, 43);
}
.finishsale:hover{
    background-color: rgb(82, 5, 235);
}
.productcontent {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.productcontent p {
    margin-bottom: 8px;
    text-align: center;
    margin: 0;
}
.productcontent h3 {
    text-align: center;
    margin-bottom: 10px;
}
.price {
    color: var(--pricecolor) ;
    font-weight: 600;
    text-align: center;
}
.whatsapp{
	position:fixed; 
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index: 5px;
    vertical-align: middle;
}
.whatscenter {
    margin-top: 15px;
}
#deleteproduct {
    background-color: transparent;
    font-size: 30px;
    color: var(--colorbtn);
    cursor: pointer;
    margin-bottom: -3px;
    align-self: center;
}
.nameproductcart {
    font-size: 16px;
    font-weight: 400;
}
.descr {
    margin: auto;
    
}
footer {
    background-color: black;
    color: #FFF;
    width: 100%;
    height: 80px;    
    align-items: center;
    display: flex;
    justify-content: space-around;
    bottom: 20px;
}
.spacing {
    padding: 0px 12px;
}
.cartwindow {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #fff;
    box-shadow: 8px 8px 8px #573aff;
    display: none;
}
.cartwindowopen {
    display: flex;
    flex-direction: column;
}
#btnclosecart {
    background-color: transparent;
    font-size: 30px;
    color: #FFF;
    margin: 10px;
    cursor: pointer;
    height:55px;
}
#noproducts {
    display: none;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#noproducts .fa-desktop {
    font-size: 100px;
    opacity: 30%;
}
#noproducts.noproductsshow {
    display: flex;
}
#cartwithproducts {
    display: none;
    overflow: auto;
}
#cartwithproducts.cartwithproductsshow {
    display: block;
}
#cartwithproducts ul {
    list-style: none;
    padding: 0 12px;
}
.listcartproducts {
    display: flex;
    padding-top: 15px;
    border-bottom: 3px solid var(--colorbtn);
    justify-content: space-between;
    padding-bottom: 12px;
}
.listcartproducts  img {
    border-radius: 5px;
    border: solid rgb(0, 0, 0);
}
.errorpage {
    text-align: center;
    border: 2px solid;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 25px 0px;
    font-size: 25px;
    color: white;
    background-color: var(--colorbtn);
}
.priceincart {
    font-weight: 600;
    font-size: 18px;
    color:rgb(76, 0, 253)
}
.totalprice {
    display: flex;
    justify-content: space-between;
    padding: 12px 12px;

}
.listcartproducts div {
    align-self: center;
    flex-grow: 1;   
}
#productdescription {
    position: fixed;
    height: 500px;
    width: 500px;
    background-color: rgb(152, 116, 170);
    display: block; 
    top: 72px;
}
.headercart {
    background-color: var(--colorbtn);
    display: flex;
    justify-content: space-between;
}
.headercart i { 
color: #fff;
align-self: center;
font-size: 30px;
}
.missiconcart{
    display: none;
}
@media (min-width: 576px) {
    .spacing {
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
    .gridproducts {
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 12PX;      
    }
    .img1 {
        height: 170px;
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }
}
@media (min-width: 768px) {
    .spacing {
        width: 720px;
    }
    .gridproducts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-grow: 1;
             }
    .img1 {
        height: 170px;
        width: 100%;
    }
    .cartwindow {
        width: 450px;
        right: 0;
        box-shadow: 0 5px 5px 5px rgb(61, 60, 60);
    }
}
@media (min-width: 992px) {
    .spacing {
        width: 992px;
    }
    .gridproducts {
        grid-template-columns: 1fr 1fr 1fr 1fr;
               
    }
    .img1 {
        height: 200px;
        
    }
    
}
@media (min-width: 1200px) {
    .spacing {
        width: 1140px;      
    }
    .img1 {
        height: 250px;

    }
}
@media (min-width: 1400px) {
    .spacing {
        width: 1320px;
    }
    .gridproducts {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .img1 {
        height: 250px;
        width: 1320px;     
    }
}
.inputcart {
    border: 1px solid #CED4DA;
    border-radius: 4px;
    height: 30px;
    font-family: inherit;
    padding: 9px;
    font-size: 16px;
    width: 50px;
    text-align: center;
    align-self: center;
    margin-right: 8px;
  }
  .fa-arrow-left-long {
      font-size: 30px;
      color: #fff;
      align-self: center;
  }
  .rodape {
      display: flex;
      align-items: center;
  }  
    .logo {
       display: flex;
        align-items: center;
        gap: 12px
    }
.allinput {
    border: 1px solid #000000;
    border-radius: 4px;
    height: 38px;
    font-family: inherit;
    font-size: 16px;
    width: 100%;
}
.allinput::placeholder,
.allinput:-ms-input-placeholder,
.allinput::-ms-input-placeholder {
    color: #180d5a
}
.finalorder {
    padding: 0 12px;
}
.finalorder div label {
    display: block;
}
.formaddress {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}
.formcheck {
    max-width: 500px;
    margin: 0 auto;
}
.formcheck input {
    padding: 12px;
}
.listf {
    padding-top: 15px;
    list-style-type: none;
}
#listfinal {
    display: grid;
    justify-content:center;
}
